<h2 class="container">The Space Devs</h2>
<div class="container">
  <div class="right-container">
    <div class="launch-card">
      <div class="launch-card-padding">
        <div class="img-container">
          <img
             src="" 
            alt=""
            class="image"
          />
        </div>
        <h4 style="color: blue">
           hhhhhhhhhh
        </h4>
        <h4>
           Statut:hhhhhhhhhhh
        </h4>
        <h4>
          Fenetre de lancement:hhhhhhhhhhhh
          <!-- <span>{{launch.status}}</span> -->
        </h4>
        
      </div>
    </div>
  </div>
</div>



